@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Source+Sans+Pro:wght@200;300;400;600;700&display=swap');
:root {
	--dark-blue:#2B697A;
  --dark-blue-disabled:#558794;
	--blue: #e9eef2;
	--green:#48ac98;
  --green-dark: #388a7c;
	--grey:#F2F2F2;
  --error-red: #dc4c64;
  --primary-font: "Source Sans Pro";
  --heading-font: "Bebas Neue";
}
.contained {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
main {
  flex: 1;
}
h1{
  font-family: var(--heading-font);
  color:var(--dark-blue);
  letter-spacing:0.4px;
  font-size:50px;
}
h2 {
  font-family: var(--heading-font);
  color:var(--dark-blue);
  font-size:30px;
  letter-spacing:0.5px;
}
h3 {
  font-family: var(--primary-font);
  font-size:28px;
  color:var(--dark-blue);
  font-weight:700;

}
h4 {
  font-family: var(--primary-font);
  font-weight:400;
  color:var(--dark-blue);
}
h5 {
  font-family:var(--primary-font);
  color:var(--dark-blue);
  font-weight:400;
}
h6 { 
  font-family:var(--primary-font);
  color:var(--dark-blue);
  font-weight:500;
}
p {
  color:var(--green);
  font-family:var(--primary-font);
  font-weight:300;
}
span {
  color:var(--grey);
  font-family:var(--primary-font);
  font-weight:300;
  padding-bottom:16px;
}
label {
  color:var(--dark-blue);
  font-family: var(--primary-font);
  font-weight:300
}
a {
  color:var(--green);
}
a:hover{
  text-decoration: underline;
  color:var(--green);
}
select {
  color:var(--green);
  font-size:16px;
  font-family: var(--primary-font);
  padding:3px;
}
.a-small {
  font-size:10px;
}
.alert, .alert-error, .error {
  color: var(--error-red);
  font-family:var(--primary-font);
  font-weight:300;
  padding:0;
}
.btn-primary {
  background-color: var(--green);
  color:var(--grey);
  font-family:  var(--primary-font);
  letter-spacing: 1px;
  font-size:16px;
  text-transform: none;
  letter-spacing: 1px;
}
.btn-primary:hover {
  background-color: var(--green-dark);
  color:var(--grey);
  box-shadow:0px 3px 6px -4px #000000;
}
.btn-primary:focus{
  background-color: var(--green-dark);
  border: 1.5px #2d6e63;
  box-shadow:0px 3px 6px -4px #000000;
  color:var(--grey);
}
.btn-secondary {
  background-color:var(--dark-blue);
  color:var(--grey);
  font-family:var(--primary-font);
  letter-spacing: 1px;
  font-size:16px;
  text-transform: none;
  letter-spacing: 1px;
}
.btn-secondary:hover {
  background-color: #265e6d;
  color:var(--grey);
  box-shadow:0px 3px 6px -4px #000000;
}
.btn-secondary:focus{
  background-color: #265e6d;
  border: 1.5px #225461;
  box-shadow:0px 3px 6px -4px #000000;
  color:var(--grey);
}
.btn-link {
  font-family:var(--primary-font);
  font-weight:200;
  color:var(--dark-blue);
  border:none;
  background-color:#FBFCFB;
}
.btn-link:hover {
  text-decoration: underline;
  border:none;
  background-color:#FBFCFB;
}
.input-wide {
  max-width:300px;
}
.secondaryAction {
  color:var(--green);
  text-decoration:underline;
  font-family: var(--primary-font);
}
.primaryAction {
  font-family: var(--primary-font);
  background-color: var(--grey);
  color:var(--dark-blue);
  border:none;
  width:200px;
  line-height: 1.5;
}
.short-par {
  color:var(--dark-blue);
  font-family: var(--primary-font);
}
.par-link {
  color:var(--green);
  font-family: var(--primary-font);
  text-decoration:underline;
}
.overlay{
  background-color:var(--blue);
}
.overlay-dark{
  background-color:var(--dark-blue);
}
.overlay-disabled {
  background: var(--dark-blue-disabled);
}
.full-screen{
  height:100vh
}
.enabled {
  color:var(--grey);
  font-family:var(--primary-font);
  font-size:15px;

}
.enabled:hover {
  color:var(--grey);
  text-decoration:underline;
}
.disabled {
  color:var(--dark-blue-disabled);
  font-family:var(--primary-font);
  font-size:15px;
}
.profile-img {
  border-radius:50%;
  max-height:300px;
}
.dark-text{
  color:var(--dark-blue);
}
.accordion-button, .accordion-button:not(.collapsed) {
  color:var(--grey);
  font-family: var(--primary-font);
  text-transform: uppercase;
  line-height:17px;
  letter-spacing: 0.5px;
  background-color: var(--dark-blue);
}
.accordion-button:after{
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23F2F2F2'%3E%3Cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 01.708 0L8 10.293l5.646-5.647a.5.5 0 01.708.708l-6 6a.5.5 0 01-.708 0l-6-6a.5.5 0 010-.708z'/%3E%3C/svg%3E");
}
.accordion-button:not(.collapsed):after {
  background-image:url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23F2F2F2'%3E%3Cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 01.708 0L8 10.293l5.646-5.647a.5.5 0 01.708.708l-6 6a.5.5 0 01-.708 0l-6-6a.5.5 0 010-.708z'/%3E%3C/svg%3E")
}
.accordion-body {
  padding:0;
}
.location {
  text-transform: capitalize;
}
.bottom-border {
  border-top: 1px solid #FBFCFB;
  padding-left:12px;
  padding-bottom:0px;
  padding-top:4px;
  padding-right:0px;
}