@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
@font-face {
    font-family: Gilroy Light;
    src: url(../fonts/Gilroy-Light.otf);
  }
  @font-face {
    font-family: Gilroy ExtraBold;
    src: url(../fonts/Gilroy-ExtraBold.otf);
  }
:root {
	--dark-blue:#2B6777;
	--blue: #C8D8E4;
	--green:#52AB98;
	--grey:#F2F2F2;
}
h1{
  font-family: 'Gilroy-ExtraBold';
  color:var(--dark-blue);
  letter-spacing:0.4px;
  font-size:50px;
}
h2 {
  font-family: 'Gilroy-ExtraBold';
  color:var(--dark-blue);
  font-size:28px;
  letter-spacing:0.5px;

}
label {
  color:var(--dark-blue);
  font-family:"Gilroy Light";
}
select {
  color:var(--green);
  font-size:16px;
  font-family:"Gilroy Light";
  padding:3px;
}
.btn-primary {
  background-color: var(--grey);
  color:var(--dark-blue);
  font-family: "Gilroy ExtraBold";
}
.input-wide {
  width:300px;
}
.secondaryAction {
  color:var(--green);
  text-decoration:underline;
  font-family:"Gilroy Light";
}
.primaryAction {
  font-family: 'Gilroy-Light';
  background-color: var(--grey);
  color:var(--dark-blue);
  border:none;
  width:200px;
  line-height: 1.5;
}
.short-par {
  color:var(--dark-blue);
  font-family:"Gilroy Light";
}
.par-link {
  color:var(--green);
  font-family:"Gilroy Light";
  text-decoration:underline;
}
.overlay{
  background-color:var(--blue);
}
.overlay-dark{
  background-color:var(--dark-blue);
}