{% load static %}
<div class="card p-2 m-2">
        <div class="row">
            <div class="col-sm-12 col-md-2 d-flex align-items-center">
                <h2 class="my-3">
                {% if activity.start_datetime.date == date %}
                    {{ activity.start_datetime.time}}
                {% else %}
                    {{ activity.start_datetime.date }}
                {% endif %}
                </h2>
                    
            </div>
            <div class="col-sm-12 col-md-8">
                <div class="row">
                    <div class="col-sm-12 my-3">
                        <h5>
                            {{ activity.name }}
                        </h5>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 col-md-6">
                    <p>
                        {{ activity.location }}
                    </p> 
                    </div>
                </div>
            </div>
            <div class="col-md-2 d-flex align-items-center">
                <button class="btn btn-secondary px-4 py-2 shadow-3-strong">
                    View Listing
                </button>
            </div>
        </div>
</div>