{% load static %}
<div class="card p-2 my-2 mx-4">
  <div class="row">

    <div class="col-xs-12 col-sm-6 col-md-2 d-flex align-items-center">
      <h2 class="my-3">{{req.request_user.username}}</h2>
 
    </div>
    <div class="col-xs-12 col-sm-6 col-md-8 d-flex align-items-center">
      <p>{{ req.message }}</p>
    </div>
    <div class="col-xs-12 col-md-2 d-flex justify-content-end align-items-end">
      {% if request.user == activity.host  %}
      {% if req.accepted == False and activity.available == True %}
      <a href="{% url 'accept-request' req_id=req.req_id id=request_activity.id %}">Accept
        Request</a>
      {% elif req.accepted == True %}
      <p class="d-flex align-items-center">You've accepted this request</p>
      {% endif %}
      {% endif %}
    </div>
  </div>
</div>