{% extends "base.html" %}

{% load i18n %}
{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-6 overlay-dark">
        </div>
        <div class="col-6">
            <h1 class="py-5">Sign Up</h1>
            <form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
              {% csrf_token %}
              <div class="row">
                <div class="col-12">
                    <label class="mt-2">Account Type</label>
                    <div>{{ form.account_type}}</div>
                </div>
                <div class="col-6 mt-2">
                    <label>Email Address</label>
                    <div>{{ form.email }}</div>
                </div>
                <div class="col-6 mt-2">
                    <label>Phone Number</label>
                    <div>{{ form.phone_number }}</div>
                </div>
                <div class="col-6 mt-2">
                    <label>First Name</label>
                    <div>{{ form.first_name }}</div>
                </div>
                <div class="col-6 mt-2">
                    <label>Last Name</label>
                    <div>{{ form.last_name }}</div>
                </div>
                <div class="col-6 mt-2">
                    <label>Password</label>
                    <div>{{ form.password1 }}</div>
                </div>
                <div class="col-6 mt-2">
                    <label>Password (again)</label>
                    <div>{{ form.password2 }}</div>
                </div>
                    </div> 
              {% if redirect_field_value %}
              <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
              {% endif %}
              <div class="mt-5 d-flex justify-content-center">
                <button class="primaryAction shadow-3 px-5 py-2 my-4" type="submit">Sign Up</button>
              </div>
              <p class="short-par text-center">Already have an account? <br>You can login <a class="par-link" href="{{ login_url }}">here</a>.</p>
            </form>
            </div>
    </div>
</div>


{% endblock %}