{% extends "base.html" %}
{% load static %}
{% block content %}
{% if featured %}
<div class="container">
<h1 class="mt-5 mx-5 mb-2">Available Today</h1>
<div class="container-fluid px-5">
    <div class="overlay-dark py-4">
        <span class="px-5">This shows the two next activities that are available</span>
{% for activity in featured %}
    {% include 'includes/featured_today.html' with activity=activity user=user %}
{% endfor %}
</div>
</div>
{% endif %}
<h1 class="m-5">All Activities</h1>
       


<a href="{% url 'create-activity' %}">New Listing</a>
</div>

{% endblock %}